/* Css
index page
*/
body{
  margin: 0;
  background-color: #1c1c1c;
  font-family: 'Sora';

}

#navbar {
  background-color: rgb(0,0,0);
  padding-left: 50px;
  padding-right: 50px;
}

#navbar ul {
  margin: 0;
  overflow: hidden;
  padding-inline-start: 0px;
  /*border-style: solid;
  border-color: black;*/
}

#navbar li {
  padding: 10px 0px 10px 0px;
  float: right;
  list-style-type: none;
}

#navbar li img {
  width: 20px;
}

#navbar .navButton {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 12pt;
}

#navbar #homeBtnListItem {
  float: left;
  font-size: 1.5em;
}

#navbar ul li #homeBtnAnchor{
  color: #e37100;
}

#navbar a {
  color: #e37100;
  display:block;
  text-decoration: none;
  padding: 10px;
}

#navbar a:visited{
  color: #inherit;
}

#navbar a:hover{
 color: #e6d5ac;
}

/* Carousel styles ------------------------------------------------------------*/
.hero{
  box-sizing: border-box;
  height: 90vh;
  background-color: black;
}

.carouselContainer {
  display: grid;
  grid-template-rows: 1fr;
  box-sizing: border-box;
  background-color: black;
  position: relative;
  height: 90%;
  overflow: hidden;
}

.carouselBackground{
  display: block;
  box-sizing: border-box;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 20%;
  filter: blur(5px);
}

.carousel{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 90% 10%;
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
  height: 100%;
  grid-column-gap: 50px
}

#currentImage{
  display: none;
  /* height: 100%;
  transition: .1s; */

}

.currentImage:hover{
  filter: brightness(80%);
  cursor: pointer;
}

.imgWrapper{
  height: 95%;
  transition: .1s;
  justify-self: center;
  align-self: center;
}

.leftCarouselButton{

  align-self: center;
  justify-self: center;
  border-radius: 10px;
  color: white;
  padding:20px;
  transition: .2s;
}

.leftCarouselButton:hover, .rightCarouselButton:hover{
  background-color: rgba(0,0,0, 0.5);
  cursor: pointer;
}

.rightCarouselButton{

  align-self: center;
  justify-self: center;
  border-radius: 10px;
  color: white;
  padding:20px;
  transition: .2s;
}

.fade{

  animation-name: fade;
  animation-duration: 0.2s;
}

@keyframes fade{
  from {opacity: 0;}
  to   {opacity: 1;}
}

#carouselTitle{

  color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
  letter-spacing: .3em;
}

.imgWrapper{
  cursor: pointer;
}

/* end of Carousel styles ------------------------------------------------------------*/

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #454545;
  font-size: .9em;
  height:5vh;
}

.warning{
  color: red;
}

.success{
  color: green;
}

/*---------------------------------------------------
Sign In Page
*/

.signinPanel {
  padding:10px;
  min-height: 300px;
  border-radius: 5px;
  background-color: #a9c7bb;
  text-align: center;
  margin-top: 50px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.submitButton {
  color: #e37100;
  font-weight: bold;
  display: inline-block;
  padding:10px;
  border-radius: 5px;
  background-color: #1a1c1b;
  margin-top:100px;
  margin-bottom: 20px;
  text-decoration: none;
}

.submitButton:visited{
  color: #inherit;
}

.submitButton:hover{
  color: #ffe9d4;
}

input {
  padding:5px;
}

/*--Profile Page --------------------------------------------------------------------*/

.profileReviewsContainer{

  padding:10px;
  min-height: 200px;
  border-radius: 15px;
  background-color: black;
  text-align: center;
  margin-top: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.profileReviewsContainer h2{
  color: #e37100;
  float:left;
}

.profileTopPanel{
  display:flex;
  flex-direction: row;
  flex-direction: nowrap;
  justify-content: center;
  background-color: #121212;
  color: #ffe9d4;
}

.profileImgPanel{
  width: 150px;
  overflow: hidden;
  padding: 20px;
  float: left;
  margin-left: 30px;
}

#profileImg{
  width: 150px;
  border-radius: 50%;
}

.uploadCaption{
  text-align: left;
  font-size: 10pt;
}

.profileUserName{
  color: #e37100;
  float:left;
  margin: 0;
}

.aboutPanel{
  width: 250px;
  font-size: 12pt;
  text-align: left;
  display: block;
  padding: 20px;
  font-weight: lighter;
}

#aboutMe{
  font-size: 12pt;
  clear: both;
}

.profileBtnSet{
  margin-left: auto;
  margin-right: auto;
  clear:both;
  overflow: hidden;
  width: 75%;
}

.createPostBtn{
  margin: 15px 0 0 0;
  float: right;
}

.profileContainer h2{
  text-align: left;
  margin: 40px 0 0 80px;
}

.postedReviewOnProfile{
  font-size: 1em;
  font-family: arial;
  padding:15px;
  clear:both;
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: #1c1c1c;
  color: #ffe9d4;
  border-radius: 15px;
}

.postedReviewOnProfile p{
  clear:both;
}

.timeOnPostedReview{
  display: block;
  overflow: hidden;
  margin-top:10px;
  font-size: .8em;
  border-top-style: solid;
  border-top-color: #454545;
  border-top-width: 1px;
  padding:5px;
  color: #454545;
  text-align: right;
}

.profileUsersPostImg{
  float:left;
  text-align: center;
  height: 50px;
  width:50px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom:0px;
  margin-left: 5px;
  margin-top:5px
}

.profileUsersPostImg img{
  vertical-align: middle;
  height: 50px;
}

#uName{
  margin-left:20px;
  margin-top:10px;
  float:left;
}

.reviewPostContent{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding:20px;
  overflow: hidden;
  clear:both;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.reviewPostContent span{
  margin-left: 50px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.posterAndTitleDiv{

  border-radius: 15px;
  padding: 20px;
}

#thumbup{
  width:20px;
}

.thumbUpCount{
  display: inline-block;
  margin-left: 10px;
}

.thumbDownCount{
  display: inline-block;
  margin-left: 10px;
}

#thumbdown{
  width:20px;
}

.hoverOpacity{
  opacity: 50%;
}

.hoverOpacity:hover{
  opacity: 100%;
}

.opacityForce100{
  opacity: 100%;
}

#privacyLockImg{
  width:20px;
  opacity: 50%;
}

#privacyLockImg:hover{
  opacity: 100%;
}

#editPostIconSpan{
  float: right;
  opacity: 50%;
}

#editPostIconSpan:hover{
  float: right;
  opacity: 100%;
}

#editPostIconSpan img{
  width:20px;
  margin-right:10px;
}

#deleteIconSpan{
  opacity: 50%;
  float:right;
}

#deleteIconSpan img{
  width:20px;
}

#deleteIconSpan:hover{
  opacity: 100%;
}


/*Upload Page ----------------------------------------------------------*/

#uploadIcon{
  width: 20px;
}

/*----writeReview page -------------------------------------------------*/

.writeReviewTopBanner{
  height: 100px;
}

.reviewFormContainer{
  width: 600px;
  margin:auto;
  background-color: black;
  color: #ffe9d4;
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
}

.reviewWrapper{
  width: 90%;
  margin:auto;

}

.reviewFormContainer #moviePoster{
  display: block;
  float: left;
  width:150px;
  padding: 20px;
  padding-left: 5px;
}

.reviewFormContainer #movieTitle{
  display: block;
  float: left;
  padding: 20px;
  font-size: 2em;
}

#filmTitleInput{
  background-color: #1c1c1c;
  color: #ffe9d4;
  margin: 10px 0 10px 0px;
  display: block;
  border-style: none;
  font-family: arial;
  outline: none;
  height: 20px;
  border-radius: 5px;
}

#writingTextArea{
  color: #ffe9d4;
  border-style: none;
  outline: none;
  resize: none;
  width: 95%;
  height: 200px;
  display: block;
  margin:0;
  background-color: #1c1c1c;
  padding: 20px;
  font-family: arial;
  border-radius: 10px;
}

#writingTextArea:focus{
  border-style: none;
}

#privacyCheckBoxLabel{
  margin-left: 5px;
  float:left;
  font-weight: normal;
  font-size: .9em;
}

#privacyCheckbox{
  float:left;
}

.postBtn{
  margin-top: 20px;
  font-family: 'Sora';
  border-style: none;
  padding: 10px;
  font-size: 12pt;
}

.postBtn:hover{
  cursor: pointer;
}

.buttonCenter{
  width:230px;
  margin:auto;
}


/*------ Recent Reviews page ------------------------------------------------*/

.recentReviewsTimeline{
  padding:10px;
  min-height: 200px;
  border-radius: 15px;
  background-color: black;
  text-align: center;
  margin-top: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  color: #454545;
}

#recentReviewsLabel{
  color: #e37100;
}

/*----------moviePage styles-------------------------------------------------*/

.moviePage{
  height: 90vh;

}

.moviePage-topBanner{
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 60vw;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.moviePage-poster{
  box-sizing: border-box;
}

.moviePage-title{
  font-size: 2em;
}

.moviePage-cert{
  display: flex;
  flex-direction: row;
}

.moviePage-cert span{
  padding-right: 20px;
}

.moviePage-desc{
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
}

.moviePage-desc #year{
  font-size: 1.5em;
  color:grey;
}

.moviePage-desc #moviePage-title, #genres{
  padding-top: 20px;
}

.moviePage-desc #desc{
  /* width:50%; */
  align-self: start;
}

.reviewCorner{
  box-sizing: border-box;
  padding: 20px;
  margin:20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  justify-content: center;
}

.reviewCorner #userName{
  color: #e37100;
  text-align: center;
  font-size: 1.5em;
}

.reviewCorner #contentText{
  font-family: arial;
  display: grid;
  background-color: #1c1c1c;
  color: #ffe9d4;
  padding:20px;
  border-radius: 15px;
}

.bottomRight{
  justify-self: end;
  align-self: end;
}

.moviePage-trailerDiv{
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;

  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.iframeWrapper{
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.moviePage-credits{
  box-sizing: border-box;
  font-family: arial;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  color: white;

  background-color: black;
  width:60vw;
  margin-left: auto;
  margin-right: auto;
}
